/* Modal.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    border: 2px solid #333; /* Adjust the border width and color as needed */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties as needed */
    background-color: #F9FAF3;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 610px;
    height: 70%;
    font-family: 'Lato';

    position: relative;
  }
  
  .modalCloseButton {
    position: absolute;
    top: 10px;  /* Adjust as needed */
    right: 10px;  /* Adjust as needed */
    background-color: transparent; /* Removes the default button background */
    border: none;  /* Removes the default button border */
    cursor: pointer; /* Indicates the button is clickable */
    font-size: 20px;  /* Adjust as needed */
    padding: 5px;  /* Adjust as needed for clickability */
    background-color: #F9FAF3;
    color: black;
  }
  
  .modalCloseButton:hover {
    color: #F9FAF3; /* Light gray background on hover */
    background-color: black;
  }
  