.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Darker overlay for better contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 0;
    width: 80%;
    max-width: 500px;
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Ensures child elements don't break the border-radius */
}

.modalContent img {
    width: 100%;
    height: auto;
    display: block;
}

.modalContent h2 {
    background-color: #FAE5D3; /* Beige background */
    padding: 10px 20px;
    margin: 0; /* Remove default margin */
    font-weight: bold;
}

.modalContent p {
    padding: 10px 20px;
    color: gray;
}

.modalContent .eventDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    z-index: 10; /* Ensure the close button is always on top */
}
