.eventList {
    margin-bottom: 20px;
  }
  
  .tag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tag button {
    margin-left: 10px;
  }
  
  .eventsScrollable {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
  }
  
  .eventCard {
    min-width: 150px;
    height: 200px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .imagePlaceholder {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ddd;
  }
  
  /* Enlarge the card on hover */
  .eventCard:hover {
    background-color: #f7f7f7;
    transform: scale(1.05); /* Enlarge the card by 5% */
    z-index: 1; /* Ensure the enlarged card is above other elements */
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 100;
    color: neonblue; /* This isn't a recognized CSS color name, but I'll provide the RGB value for neon blue below */
    background-color: rgba(0, 0, 0, 0.5); /* Add a background for better visibility */
    padding: 0.5em 1em;
    border-radius: 50%; /* This makes the background of the arrows rounded */
    transition: background-color 0.3s; /* Transition effect for hover */
  }

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover for contrast */
}

.leftArrow {
  left: 0;
  padding-left: 10px;
}

.rightArrow {
  right: 0;
  padding-right: 10px;
}

.eventsScrollable {
  display: flex;
  overflow-x: auto;  /* allows horizontal scrolling */
  overflow-y: hidden;  /* ensures no vertical scrolling */
  white-space: nowrap;  /* ensures elements don't wrap to next line */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
