/* ... existing styles ... */

.modalContent {
    /* ... existing properties ... */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modalImage {
    width: 50%; /* Adjust as needed */
    margin: 15px 0;
    border-radius: 10px; /* Optional: For rounded corners */
  }
  
  