
.eventList {
  margin: 20px;
}

.tag {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: calc(15px + 2vmin);
  color: #3a3a3a;
  font-family: 'Lato';
  padding: 5px;
}

.tag button {
  margin-left: 10px;
}

.eventsScrollable {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;
  gap: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;  
}
.eventsScrollable::-webkit-scrollbar {
  display: none;
}

.EventImage {
  max-width: 50px;
  max-height: 50px;
}

/* Image on the box */
.eventCard {
  position: relative;
  min-width: 300px;
  height: 190px;
  border: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 10px 10px 10px;
  transition: transform 0.3s ease;
  border-radius: 60px; 
  
}
/*
.eventCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}*/
.eventCard:hover {
  transform: scale(1.05);
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px; /* Match the border-radius of the .eventCard */
  overflow: hidden;
  /* Gradient overlay */
  /*background: linear-gradient(to top, rgba(0, 40, 0, 1) 0%, rgba(0, 50, 0, 0) 23%);*/
  background: #2e8b57;

  /* Enlarge the image on hover */
  transition: transform 0.25s ease;
}

.eventCard:hover .imagePlaceholder {
  transform: scale(1.07);
}

p {
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-style: italic;
  font-weight: bold;
  bottom: -2px;
  left: 40px;
  max-width: calc(100% - 70px); /* Adjust this value based on your needs */
}

.upvoteCount {
  z-index: 1;
  align-self: flex-start; /* Make sure it's aligned to the left */
  display: flex; /* Used for positioning the heart icon and number */
  gap: 5px; /* Space between heart icon and number */
  color: white; /* Font color */
  font-family: "Roboto", sans-serif; /* For consistency */
  position: absolute;
  font-style: normal;
  font-weight: bold;
  bottom: 11px;
  right: 40px;
}

.upvoteCount::before {
  content: "\2665"; /* CSS content code for a heart */
  font-size: 12px; /* Adjust as necessary */
}

.eventCard:hover {
  z-index: 1;
}

