.eventList {
    margin-bottom: 20px;
  }
  
  .tag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tag button {
    margin-left: 10px;
  }
  
  .eventsScrollable {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
  }
  
  .eventCard {
    min-width: 150px;
    height: 200px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .imagePlaceholder {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ddd;
  }
  
  /* Enlarge the card on hover */
  .eventCard:hover {
    background-color: #f7f7f7;
    transform: scale(1.05); /* Enlarge the card by 5% */
    z-index: 1; /* Ensure the enlarged card is above other elements */
  }
  